@import "tailwindcss";

@theme {
    --color-regal-green: #d9f275; 
    --color-regal-blackstrg: #1f1e31;
}

@font-face {
    font-family: 'Roboto' ;
    src: url(./RobotoCondensed-VariableFont_wght.woff2) format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

